<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link rel="stylesheet" href="index.css"> -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-route/1.8.3/angular-route.min.js"
        integrity="sha512-y1qD3hz/IAf8W4+/UMLZ+CN6LIoUGi7srWJ3r1R17Hid8x0yXe+1B5ZelkaL1Mjzedzu0Cg3HBvDG02SAgSzBw=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Angular Todo</title>
</head>

<body>
    <div ng-app="myApp" ng-controller="myCtr" class="container-fluid bg-light">
        <div class="container bg-light">
            <div class="row mt-4" style="height:600px">
                <div class="col">
                    
                </div>
                <div class="col-md-6 bg-white shadow">
                    <div class="card bg-info">
                        <h4 class="text-white ps-3 pt-2 pb-2">TODO LISTS</h4>
                    </div>
                    <div class="shadow">
                        <div class="input-group p-4">
                            <input  ng-model="newtask.name" type="text" class="form-control" placeholder="Enter Task">
                            <button  ng-click="addTask()" class="btn btn-outline-success" type="button">+</button>
                        </div>
                    </div>
                    <h4 class="text-primary mt-4">Tasks:</h4>
                    <div  style="overflow-y:auto; height:350px;">
                        <!-- <div class="m-3 bg-danger"> -->
                            <div class="p-2 shadow border" ng-repeat="task in tasks">
                                <div class="input-group row ps-3 ">
                                    <div class="card col-md-10 border-0">
                                        <ul class="lead">
                                            <li style="list-style-type:none">
                                                <span ng-hide="task.isEditing">{{ task.name }}</span>
                                                <input ng-show="task.isEditing" ng-model="task.editedName" type="text" class="form-control" ng-readonly="!task.isEditing" ng-focus="task.isEditing">
                                            </li>
                                        </ul>
                                    </div>
                                    <button class="btn btn-outline-primary col mr-2" ng-click="Edit(task)">{{ name.isEditing ? 'S' : 'E' }}</button>
                                    <div ng-click="remove(task)" class="btn btn-outline-danger col">D</div>
                                </div>
                                
                             
                                
                            </div>
                        <!-- </div> -->
                    </div>
                </div>
                
                <div class="col">
                </div>
            </div>
        </div>
    </div>
    <script src="main.js">
       
    </script>
</body>

</html>
